@model List<SAPO.Category>

<!--Header-->
<nav class="navbar navbar-custom navbar-static-top" role="navigation">
    <div class="top_bar">
        <div class="container">
            <ul class="pull-left hidden-xs">
                <li><i class="fa fa-mobile-phone"></i> <span class="text-uppercase">Need Help:</span> 995-823-1280 </li>
                <li><i class="fa fa-envelope-o"></i> <a href="mailto:sales@smarthomesolution.in">sales@smarthomesolution.in</a></li>
            </ul>
            <ul class="pull-right">
                <li class="text-uppercase"><i class="fa fa-headphones"></i><a href="@Url.Content("~/home/contact")">Support</a></li>
                <li>|</li>
                <li class="text-uppercase"><a href="#login_modal" data-toggle="modal" data-backdrop="static"><i class="fa fa-lock"></i>Sign in</a></li>
                <li class="text-uppercase"><a href="#free_quote_modal" data-toggle="modal" data-backdrop="static" class="free_quote"><i class="fa fa-arrow-circle-right"></i>Free Quote</a></li>
            </ul>
        </div>
    </div>
    <div class="container position-relative">
        <div class="navbar-header"> <a class="navbar-brand" href="@Url.Content("~/")"><img src="@Url.Content("~/Content/images/logo.png")" class="img-responsive"></a> </div>
        <div class="menu_outer">
            <ul class="search_cart_box">
                <li class="search_box"><a href="#search_modal" data-toggle="modal" data-backdrop="static"><img src="@Url.Content("~/content/images/icon/search_icon.png")"></a></li>
                <li class="cart_box pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                        <div class="img"><img src="@Url.Content("~/content/images/icon/cart.png")"> </div>
                        <div class="cart_detail"> Cart <span>9 iteams</span> </div>
                    </a>

                    <div class="dropdown-menu">
                        <div class="cart_container clearfix">
                            <div class="small-header">
                                <h2 class="section-title">Selected Products</h2>
                            </div>

                            <div class="scrollbar_box mCustomScrollbar" data-mcs-theme="dark" style="">
                                <!--item_list-->
                                <div class="item_list">
                                    <div class="img_box">
                                        <a href="#"><img src="@Url.Content("~/content/images/product_image/pro-12.jpg")" class="img-responsive product_img"></a>
                                    </div>
                                    <div class="item_detail">
                                        <a class="remove_icon" href="#"><i class="fa fa-trash-o"></i></a>
                                        <div class="item_name">yeelight Blue II Smart Bulb...</div>
                                        <ul class="price_box clearfix">
                                            <li>
                                                <form class="form-inline">
                                                    <div class="form-group">
                                                        <label for="qty">QTY:</label>
                                                        <select name="qty" id="qty" class="form-control select_dropdown">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                        </select>
                                                    </div>
                                                </form>
                                            </li>
                                            <li> <i class="fa fa-rupee"></i> 1,999/- </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--item_list_end-->
                                <!--item_list-->
                                <div class="item_list">
                                    <div class="img_box">
                                        <a href="#"><img src="../Content/images/product_image/pro-12.jpg" class="img-responsive product_img"></a>
                                    </div>
                                    <div class="item_detail">
                                        <a class="remove_icon" href="#"><i class="fa fa-trash-o"></i></a>
                                        <div class="item_name">yeelight Blue II Smart Bulb...</div>
                                        <ul class="price_box clearfix">
                                            <li>
                                                <form class="form-inline">
                                                    <div class="form-group">
                                                        <label for="qty">QTY:</label>
                                                        <select name="qty" id="qty" class="form-control select_dropdown">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                        </select>
                                                    </div>
                                                </form>
                                            </li>
                                            <li> <i class="fa fa-rupee"></i> 1,999/- </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--item_list_end-->
                                <!--item_list-->
                                <div class="item_list">
                                    <div class="img_box">
                                        <a href="#"><img src="../Content/images/product_image/pro-12.jpg" class="img-responsive product_img"></a>
                                    </div>
                                    <div class="item_detail">
                                        <a class="remove_icon" href="#"><i class="fa fa-trash-o"></i></a>
                                        <div class="item_name">yeelight Blue II Smart Bulb...</div>
                                        <ul class="price_box clearfix">
                                            <li>
                                                <form class="form-inline">
                                                    <div class="form-group">
                                                        <label for="qty">QTY:</label>
                                                        <select name="qty" id="qty" class="form-control select_dropdown">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                        </select>
                                                    </div>
                                                </form>
                                            </li>
                                            <li> <i class="fa fa-rupee"></i> 1,999/- </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--item_list_end-->
                                <!--item_list-->
                                <div class="item_list">
                                    <div class="img_box">
                                        <a href="#"><img src="../Content/images/product_image/pro-12.jpg" class="img-responsive product_img"></a>
                                    </div>
                                    <div class="item_detail">
                                        <a class="remove_icon" href="#"><i class="fa fa-trash-o"></i></a>
                                        <div class="item_name">yeelight Blue II Smart Bulb...</div>
                                        <ul class="price_box clearfix">
                                            <li>
                                                <form class="form-inline">
                                                    <div class="form-group">
                                                        <label for="qty">QTY:</label>
                                                        <select name="qty" id="qty" class="form-control select_dropdown">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                        </select>
                                                    </div>
                                                </form>
                                            </li>
                                            <li> <i class="fa fa-rupee"></i> 1,999/- </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--item_list_end-->
                            </div>


                            <div class="total_box clearfix mt-10">
                                <ul class="clearfix">
                                    <li>Tatal Payable</li>
                                    <li><i class="fa fa-rupee"></i> 20,999/-</li>
                                </ul>
                            </div>

                            <div class="btn_box text-center mt-10"> <a href="shoping_cart.html" class="blue_btn btn-block"> Proceed to Checkout </a> </div>


                        </div>
                    </div>

            </ul>
            <ul class="jetmenu">
                @foreach (var category in Model)
                {
                    <li>
                        <a href="@Url.Content("~/categories/" + category.Name.ToLower().Replace(" ", "-"))">@category.Name</a>
                        @if (category.CategoryId != null)
                        {
                        <div class="megamenu full-width">
                            <div class="my-row">
                                <div class="col1">
                                    <ul>
                                        <li class="title">
                                            <h5>Sound</h5>
                                        </li>
                                        <li><a href="#">AV Receivers</a></li>
                                        <li><a href="#">Floorspeakers</a></li>
                                        <li><a href="#">Centre</a></li>
                                        <li><a href="#">Surround</a></li>
                                        <li><a href="#">Sub-woofer</a></li>
                                        <li><a href="#">Ceiling Speaker</a></li>
                                        <li><a href="#">Soundbar</a></li>
                                        <li><a href="#">Outdoor</a></li>
                                    </ul>
                                </div>
                                <div class="col1">
                                    <ul>
                                        <li class="title">
                                            <h5>Video</h5>
                                        </li>
                                        <li><a href="#">HD</a></li>
                                        <li><a href="#">4K</a></li>
                                        <li><a href="#">Business</a></li>
                                        <li><a href="#">Cloud Touch Flat Panel Display</a></li>
                                        <li><a href="#">Commercial TV</a></li>
                                        <li><a href="#">Spider Web</a></li>
                                    </ul>
                                </div>
                                <div class="col1">
                                    <ul>
                                        <li class="title">
                                            <h5>Acoustics</h5>
                                        </li>
                                        <li><a href="#">HT-1</a></li>
                                        <li><a href="#">HT-2</a></li>
                                        <li><a href="#">HT-3</a></li>
                                    </ul>
                                </div>
                                <div class="col1">
                                    <ul>
                                        <li class="title">
                                            <h5>Custom Series</h5>
                                        </li>
                                        <li><a href="#">In Wall</a></li>
                                        <li><a href="#">In Cieling</a></li>
                                        <li class="title">
                                            <h5><a href="#">Wireless Products</a></h5>
                                        </li>
                                        <li class="title">
                                            <h5><a href="#">Media Server</a></h5>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col2" style="text-align:right;"> <img src="../Content/images/5.jpg"> </div>
                            </div>
                        </div>
                        }

                    </li>
                }
                @*<!--Home Theatre -->
                    <li>
                        <a href="#">Home Theatre </a>
                        <div class="megamenu full-width">
                            <div class="my-row">
                                <div class="col1">
                                    <ul>
                                        <li class="title">
                                            <h5>Sound</h5>
                                        </li>
                                        <li><a href="#">AV Receivers</a></li>
                                        <li><a href="#">Floorspeakers</a></li>
                                        <li><a href="#">Centre</a></li>
                                        <li><a href="#">Surround</a></li>
                                        <li><a href="#">Sub-woofer</a></li>
                                        <li><a href="#">Ceiling Speaker</a></li>
                                        <li><a href="#">Soundbar</a></li>
                                        <li><a href="#">Outdoor</a></li>
                                    </ul>
                                </div>
                                <div class="col1">
                                    <ul>
                                        <li class="title">
                                            <h5>Video</h5>
                                        </li>
                                        <li><a href="#">HD</a></li>
                                        <li><a href="#">4K</a></li>
                                        <li><a href="#">Business</a></li>
                                        <li><a href="#">Cloud Touch Flat Panel Display</a></li>
                                        <li><a href="#">Commercial TV</a></li>
                                        <li><a href="#">Spider Web</a></li>
                                    </ul>
                                </div>
                                <div class="col1">
                                    <ul>
                                        <li class="title">
                                            <h5>Acoustics</h5>
                                        </li>
                                        <li><a href="#">HT-1</a></li>
                                        <li><a href="#">HT-2</a></li>
                                        <li><a href="#">HT-3</a></li>
                                    </ul>
                                </div>
                                <div class="col1">
                                    <ul>
                                        <li class="title">
                                            <h5>Custom Series</h5>
                                        </li>
                                        <li><a href="#">In Wall</a></li>
                                        <li><a href="#">In Cieling</a></li>
                                        <li class="title">
                                            <h5><a href="#">Wireless Products</a></h5>
                                        </li>
                                        <li class="title">
                                            <h5><a href="#">Media Server</a></h5>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col2" style="text-align:right;"> <img src="../Content/images/5.jpg"> </div>
                            </div>
                        </div>
                    </li>
                    <!--Home Theatre End -->
                    <!--Home Security -->
                    <li>
                        <a href="#">Home Security</a>
                        <ul class="dropdown">
                            <li><a href="#">Network Cameras</a></li>
                            <li>
                                <a href="#">Video Recorder</a>
                                <ul class="dropdown">
                                    <li><a href="#">Bullet</a></li>
                                    <li><a href="#">DOME</a></li>
                                    <li><a href="#">PTZ</a></li>
                                    <li><a href="#">Wi-Fi</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Digital Locks</a></li>
                            <li><a href="#">VDP</a></li>
                            <li><a href="#">Motion Sensor</a></li>
                        </ul>
                    </li>

                    <!--Home Security End -->
                    <!--Home Automation -->
                    <li><a href="#">Home Automation</a></li>

                    <!--Home Automation End -->

                *@
                <li><a href="@Url.Content("~/home/about")">About Us</a></li>
            </ul>
        </div>
    </div>
    <div class="topband_shadow">&nbsp;</div>
</nav>
<!--Header_End-->
